
<DOCTYPE! html>

<html>
  <head>
  </head>
  <body>
    <p>
        <!-- <% @params.each do |key, word| %>
        <%= word %> <% end %>. -->
        <%= @concatenated_phrase %>
    </p>
  </body>

</html>
